
p {
    display:block;
    font-family: Verdana;
}
h1{
    font-family: Verdana;
    text-decoration: ;
}
h2{
    font-family: Verdana;
    font-size: 25px;
    color: blueviolet;
}
h3 {
    font-family: Verdana;
    font-size: 20px;
    color: #02225D;
}